@charset "UTF-8";
*{
  padding: 0px;
  margin: 0px;
  background-color: rgb(80, 80, 80);
  box-sizing:  border-box; 
}

body, html{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
}

.preloader{
  width: 80%;
  max-width: 400px;
  height: 20px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.bar{
  width: 0%;
  height: 100%;
  background:  linear-gradient(to bottom, rgb(41, 41, 41), rgb(92, 92, 92));
  animation: loading 6s forwards;
  flex-flow:nowrap;
}

@keyframes loading{
  from { width: 0%; }
  to { width: 100%; }
}

main{
  display: none;
  color: aliceblue;
  text-align: center;
  font-family: sans-serif;
}
